{% extends 'base.html' %}
{% block content %}

<div class="header-div">
    <h1>Bookings</h1>
</div>   

<div class="container">
    <a href="/bookings/new"><button class="add-button">Add Booking</button></a>
</div>

{% for booking in bookings %}
    <section>
        <ul>
            <li>
                <a href="/bookings/{{booking.id}}"><h3>Booking # {{ booking.id }}</h3></a>
            </li>
            <li>
                <p> {{ booking.member.name }} </p>
            </li>
            <li>
                <p> {{ booking.workout.name }} </p>
            </li>
            <form action="bookings/{{ booking.id }}/delete" method="POST">
                <input type="submit" value="Delete">
            </form>
            
        </ul>
    </section>
    
{% endfor %}
    
{% endblock %}