{% extends 'base.html' %}
{% block content %}
<main>
<div class="header-div">
    <h1>Bookings</h1>
</div>   

<div class="container">
    <a href="/bookings/new"><button class="add-button">Add Booking</button></a>
</div>

<div class = "whole-list">
{% for booking in bookings %}
    <div class="list-container-classes">
        <ul class="members-list">
            <li class="members-list-item">
                <a class="a-name"href="/bookings/{{booking.id}}"><h3 class="black-text-notrans"># {{ booking.id }}</h3></a>
            </li>
            <li class="black-text-notrans">
                <b><p> {{ booking.member.name }} </p></b>
            </li>
            <li class="black-text-notrans">
                <b><p> {{ booking.workout.name }} </p></b>
            </li>
            <div class="button-div">
            <form action="bookings/{{ booking.id }}/delete" method="POST">
                <input class="edit-delete-button" type="submit" value="Delete">
            </form>
            </div>
            
        </ul>
    </div>


{% endfor %}
</main>
{% endblock %}