{% extends 'base.html' %}

{% block content %}
<main class="main-forms">
    <div class="container-form">
        <div class="div-form-container">
            <u><h2>Add a Booking</h2></u>
        </div>
        <div class="div-form-container">
        <form action="/bookings" method = "POST" class="form">
            <div class="div-form-container">
            <label for="member">User:</label>
            <select name="member_id" id="member">
                {% for member in active_members %}
                    <option value="{{ member.id }}">{{ member.name }}</option>
 
                {% endfor %}
            </select>
        </div>
        </div>
        <div class="div-form-container">
            <label for="workout">Workout:</label>
            <select name="workout_id" id="workout">
                {% for workout in active_workouts %}
                    <option value="{{ workout.id }}">{{ workout.name }}</option>
                {% endfor %}
                </select>
        </div>
        <div class="button-div">  
            <input type="submit" value="Create Booking" class="submit-button">
        </div>
        </form>
    </div>
</div>


</main>  
    

    

{% endblock %}