{% extends 'base.html' %}

{% block content %}

    <section>
        <ul>
            <li>
                <p>{{ booking.member.name }}</p>
            </li>
            <li>
                <p>{{ booking.workout.name }} </p>
            </li>
            <li>
                <p>{{ booking.workout.date }} @ {{ booking.workout.time }}</p>
            </li>
        
            <a href="/booking/{{ booking.id }}/edit"><button>Edit</button></a>
            </li>
        </ul>
    </section>
    
{% endblock %}