{% extends 'base.html' %}

{% block content %}
<main>
    <div class = "container">
    <div class = "show-member-list-container">
        <ul class = "members-list">
            <li class="members-list-item">
                <h2 class="black-text">{{ member.name }}</h2>
            </li>
            <li class="members-list-item">
                <p><a class="email-link" href="mailto:{{ member.email }}">{{ member.email }}</a></p>
            </li>
            <li class="members-list-item">
                <p>{% if member.status == '1' %}
                <span>&#128994;</span>
                {% elif member.status == '0'%}
                <span>&#128308;</span>
                {% endif %}</p>
                <!-- <button class="completed-button">
                    <a href="/member/{{member.id}}/changestatus">
                        {% if member.status %}
                        De-activate
                        {% else %}
                        Activate
                        {% endif %} -->


                    </a>
            </li>
            <li class = "members-list-item-solid">
                <p>Membership | {{ member.type }}</p>
            </li>
            <li class = "classes-booked-list-item">
                <h4>Classes booked</h4>
                    {% for workouts in workouts_list %}
                    <li class="members-list-item-box">
                            {{workouts.name}}
                    </li>
                {% endfor %}
            </li>
            <li class = "members-list-item">
            <a href="/members/{{ member.id }}/edit"><button class="edit-delete-button">Edit</button></a>
            </li>
        </ul>
    </div>
</div>
</main>
{% endblock %}