{% extends 'base.html' %}

{% block content %}

    <section>
        <ul>
            <li>
                <p>{{ member.name }}</p>
            </li>
            <li>
                <p>{{ member.email }}</p>
            </li>
            <li>
                <p>Status:
                {% if member.status == 0 %}
                    <p>Active</p>
                {% else %}
                    <p>Inactive</p>
                {% endif %} </p>
            </li>
            <li>
                <p>Membership Type: {{ member.type }}</p>
            </li>
            <li>
            <a href="/members/{{ member.id }}/edit"><button>Edit</button></a>
            </li>
        </ul>
    </section>
    
{% endblock %}