{% extends 'base.html' %}
{% block content %}
<main>
<div class="header-div">
    <h1>Classes</h1>
    </div>

<section class="container">
    <a href="/workouts/new"><button class="add-button">Add New Class</button></a>
</section>

<div class="whole-list">
{% for workout in workouts %}
    <div class="list-container-classes">
        <ul class="members-list">
            <li class="members-list-item">
                <a class="a-name"href="/workouts/{{workout.id}}"><h3>{{ workout.name }}</h3></a>
            </li>
            <li class="members-list-item">
                <p>{{ workout.date }} @ {{ workout.time }}</p>
            </li>
            <div class="button-div">
            <a href="/workout/{{ workout.id }}/edit"><button class="edit-delete-button">Edit</button></a>
        </div>
        <div class="button-div">
            <form action="workout/{{ workout.id }}/delete" method="POST">
                <input class="edit-delete-button" type="submit" value="Delete">
            </form>
        </div>
            
        </ul>
    </div>
    
{% endfor %}
</div> 
{% endblock %}
</main>